[Unit]
Description=Pipeline Creator service file.
After=network.target

[Service]
Type=simple
User=shubham
WorkingDirectory=CURRENT_DIR
ExecStart=/home/shubham/.nvm/versions/node/v11.10.1/bin/node /home/shubham/.nvm/versions/node/v11.10.1/lib/node_modules/serve/bin/serve.js -s build -l 4000
Restart=on-failure

[Install]
WantedBy=multi-user.target
