body {
    padding: 2% 3% 0 3%;
}

.btn-add, .array-item-remove {
    max-width: 40px;    
    max-height: 40px;
}

.object {
    border: 1px gray solid;
    border-radius: 5px;
    padding: 5px;
}

.array-item-toolbox {
    width: 5% !important;
}

.ui.menu .item {
    -webkit-user-select: auto; /* Safari 3.1+ */
    -moz-user-select: auto; /* Firefox 2+ */
    -ms-user-select: auto; /* IE 10+ */
    user-select: auto; /* Standard syntax */
}

.col-xs-9 {
    width: 93%;
}

.step-field {
    margin-bottom: 5px;
}

.array-item-add {
    margin-left: 93%;
}

.info-field {
    width: 25%;
    float: left;
}

.steps {
    width: 72%;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85vh;
}

/* React Filepicker Example CSS */

.filepicker.dropzone .dz-preview.dz-image-preview {
    background: none;
}

.filepicker.dropzone .dz-preview.dz-image-preview .dz-image {
    border-radius: 5px;
}

.dropzone .dz-preview.dz-error:hover .dz-error-message,
.dropzone .dz-preview.dz-error .dz-error-mark {
    display: none;
}

.dropzone {
    border: 2px dashed skyblue;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}